<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @transcription.name %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @transcription.finished %>
</p>

<%= link_to 'Edit', edit_transcription_path(@transcription) %> |
<%= link_to 'Back', transcriptions_path %>
